body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
  monospace;
}

.logotext {
  padding:10px;
  padding-top:100px;
}

.brand{
  padding-top: 0.5%;
}
.brand-logo{
  max-height: 50px;
  width:auto;
}

.collection .collection-item.active  {
  background-color: #283593 !important;
  color:#fff !important;
}
.collection .collection-item{
  color:#000 !important;
}

.title-image{
    padding-top:15%;
}
.register-button{
  padding-top: 10%;
}
.table-div{
  overflow-x: scroll;

}
footer {
  padding-top: 20%;
}

.schedulde{
  display: table;
  height: auto;
  max-height:80vh;
  overflow-y: auto;
}
table{
  border-collapse: collapse;
}

table td{
  border: 1px solid #000 !important;
}

@media only screen and (max-width: 600px){ 
.schedulde{
  width: 100vh !important;
}
.table-div{
  width: 90% !important;
}
}
@media only screen and (min-width: 600px){ 
  .parallax-container {
  height: 100vh !important;
}
.schedulde{
  width: 100wh !important;
}
}
.card-Image{
  width: 100%;
}

.inslist{
    padding-top: 20px;
    padding-bottom: 20px;
}
.details, .instructions {
  border:1px solid grey;
  margin-top: 20px !important;
  margin-bottom: 20px !important;
  border-radius: 10px;
  padding-right: 20px;
  box-shadow: 0 0 50px #8867ff1f;
}
.event{
  border:1px solid grey;
  margin-top: 20px !important;
  margin-bottom: 20px !important;
  border-radius: 10px;
  box-shadow: 0 0 20px  #8867ff1f;
}

.points{
  margin-top: 20px !important;
  margin-bottom: 20px !important;
}
